*/clang64d/*
*/clang64/*
*/clin64/*
*/clin64d/*
*/cwin64/*
cwin64/
clin/
clin64/
.vscode/
build_linuxDbg/
build_linuxRel/
nix/
linux/
lin_rel/
lin_deb/
*.sh
*.bat
*.sln
*.cmake
*.vcxproj*
*.vs
*x64
*CMakeFiles
*MinSizeRel
*.obj
*.log
*.exe
*.exp
